@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script', cursive;
  background-color: rgb(59, 59, 59);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header {
  color: rgb(0, 0, 0);
  height: fit-content;
}
.content {
    background: linear-gradient(
      90deg,
      rgb(0, 25, 138) 30%,
      rgb(53, 235, 255) 73%
    );
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .label {
    margin: 6px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 0, 0);
  }
  .input {
    margin: 6px;
  }
  
  .button {
    margin: 6px;
  }
  .button button {
    cursor: pointer;
    width: 80px;
  }

.toDoList {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,121,33,1) 35%, rgba(0,212,255,1) 100%);
  width: 58%;
  height: 200px;
  min-height: 80xp;
  border: 2px double black;
  margin: auto;
  margin-bottom: 10px;
  overflow: auto;
  padding: 6px;
  text-align:center;
}

.note {
 background-color: rgba(53,53,53,0.3);
 display:flex;
 justify-content: space-between;
 margin-top: 4px;
}
.del {
  background-color: red;
  color:white;
  padding-bottom:4px;
  width:12px;
  cursor: crosshair;
 }
 .contentNote {
  width:90px;
  color:black;
  overflow: hidden;
  text-align: start;
  margin-left: 4px;
 }

 


